// Footer
footer.page-footer.font-small.blue.darken-1.pt-4.mt-4
  .container-fluid.text-center.text-md-left
    .row
      .col-md-1
      .col-md-6
        h6.text-uppercase
          a(href="/impressum") Impressum
          |&nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="/datenschutz") Datenschutz


  // Copyright
  .footer-copyright.py-3.text-center
    | © 2018 Copyright: cite-bretonen.de
